.dokuwiki {
  ul.idx {
    padding-left: @padding-large-horizontal;
  }
  a.urlextern {
    padding-left: 0;
    background-image: none;
    word-wrap: break-word;
    .glyphicon-globe;
    &:before {
      .glyphicon;
      font-size: 80%;
    }
    #IE6 & {
      background-image: none;
      padding-left: 0;
    }
  }
  div.section_highlight {
    border-right-width: 0;
    margin-left: -0.5em;
    left: -0.5em;
    position: relative;
  }
}

#dokuwiki__top {
  margin-top: @navbar-height;
  .navbar-right {
    margin-right: 0;
  }
}

#dw__register,
#dw__login {
  .text-left;
}

#dokuwiki__aside {
  #IE6 & {
    width: 23%;
    margin: 0 2% 0 0;
    padding: 0;
  }
  p {
    margin: 0;
  }
}

label span {
  margin-right: @padding-small-horizontal;
  position: relative;
  display: inline-block;
}


#IE6 #dokuwiki__content {
  width: 75%;
  margin: 0;
  padding: 0;
}
#IE6 .not-header {
  margin-top: 55px;
}

#helpful-links .list-group-item-text {
  margin-bottom: @padding-xs-vertical;
}

.dokuwiki ul.idx,
.notifications,
.block,
.skip-to-sidebar {
  margin-bottom: @padding-large-vertical;
}

#dokuwiki__footer,
.notifications {
  margin-top: @padding-large-vertical;
}

.form-horizontal {
  margin-bottom: 0;
}

.license {
  .text-muted;
  .small;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="week"],
input[type="phone"],
input[type="email"] {
  .form-control;
  font-weight: 400;
}

.dokuwiki span.curid a {
  .text-muted;
  font-weight: normal;
}

img.media,
img.img_detail{
  .img-responsive();
  .img-thumbnail;
}

#dokuwiki__detail div.img_detail h3 {
  margin-top: 0;
}

.page {
  h1:first-of-type {
    .page-header;
    margin-top: 20px;
  }
  img {
    max-width: 100%;
  }
}

@import "sidebar";
@import "buttons";
@import "editor";
@import "config";
@import "toc";
@import "media";
@import "search";
